/* .contenu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    text-align: center;
}
.login-form{
    position: relative;
    box-sizing: border-box;
    padding: 60px 30px;
    transition: .5s;
}
.login-form input{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 17px 40px;
    margin-bottom: 10px;
    outline: none;
    font-size: 15px;
}
.login-form input:focus{
    border-color: #6a9955;
}
.login-form a{
    width: 87%;
}
.login-form .btn{
    border-radius: 25px;
    padding: 5px 17px;
}
.login-form span{
    position: absolute;
    font-size: 15px;
    margin: -38px 0px 0px 15px;
    color: #1e1e1e;
}
.login-form h2{
    color: #1e1e1e;
}
p a{
    color: #6a9955;
}
p a:hover{
    color: #466638;
}
.login-form input:focus{
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(70,102,56,0.6);
} */